body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* グラデーションアニメーション gradation animation */
.blob{
    animation: hue-animation 5s alternate infinite
}

@keyframes hue-animation {
    100%{
        filter: hue-rotate(360deg);
    }
}